PORT=3000
MONGODB_URI="mongodb+srv://<db_username>:<db_password>@cluster0.rbndqvl.mongodb.net/?appName=Cluster0"
ACCESS_SECRET_TOKEN = "lets_speedup"
REFRESH_SECRET_TOKEN = "Supreet_Kumar"

CORS_ORIGIN = *

ACCESS_Token_EXP = 1d
REFRESH_Token_EXP = 10d
